{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h2>Главная страница</h2>
    </div>
    {% for i in slovar.keys() %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ i.title }}</th>
            <th scope="col">Создатель</th>
        </tr>
        </thead>
        <tbody>
        {% for j in slovar[i] %}
        <tr>
            <th scope="row"><a href=/discussion/{{j.id}}>{{ j.title }}</a></th>
            <td>{{j.creator.networks}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% endblock %}