{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated and
current_user.lvl == 0 and current_user.id != user.id and
not user.is_banned%}
<form action="" method="post">
    {% if user.lvl == 2 %}
    <button type="submit" class="btn btn-success btn-sm" name="set_admin" value={{1}}>
        назначить админом
    </button>
    {% else %}
    <button type="submit" class="btn btn-warning btn-sm" name="set_admin" value={{0}}>
        убрать из админов
    </button>
    {% endif %}
</form>
{% endif %}

<h2>{{ user.name }}
    {% if user.lvl == 1 %}
    <span class="badge badge-pill badge-warning">admin</span>
    {% elif user.lvl == 0 %}
    <span class="badge badge-pill badge-success">creator</span>
    {% endif %}
</h2>
<h4>{{ user.uniq_name }}</h4>
<hr>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Личные обсуждения</th>
        <th scope="col">Личные форумы</th>
    </tr>
    </thead>
    <tbody>
    {% for i in range(max([len(user.forums), len(user.discussions)])) %}
    <tr>
        {% if i < len(user.discussions) %}
        <td><a href="/discussion/{{user.discussions[i].id}}">{{ user.discussions[i].title }}</a></td>
        {% elif not len(user.discussions) and loop.first %}
        <td>Обсуждений пока нет</td>
        {% else %}
        <td></td>
        {% endif %}

        {% if i < len(user.forums) %}
        <td><a href="/#forum{{user.forums[i].id}}">{{ user.forums[i].title }}</a></td>
        {% elif not len(user.forums) and loop.first %}
        <td>Форумов пока нет</td>
        {% else %}
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<footer>
    {% if current_user.is_authenticated%}
    <form action="" method="post">
        {% if current_user.lvl < 2 and current_user.id != user.id %}
        <p>
            {% if user.is_banned %}
            <button type="submit" class="btn btn-success" name="ban_user" value={{0}}>
                Разбанить
            </button>
            {% else %}
            <button type="submit" class="btn btn-warning" name="ban_user" value={{1}}>
                Забанить
            </button>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.lvl == 0 or current_user.id == user.id %}
        <!-- Button trigger modal -->
        <p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                {{ "Удалить аккаунт" if current_user.id == user.id else "Удалить пользоваьеля" }}
            </button>
        </p>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="delete-user" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-user">Подтвердите действие</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите удалить {{ "аккаунт"
                            if current_user.id == user.id else "пользователя" }}
                            <strong>{{ user.name }}</strong> с ником
                            <strong>{{ user.uniq_name }}</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger" name="delete_user" value={{user.id}}>
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </form>
    {% endif %}
</footer>
{% endblock %}